
h1 {
    background-color: beige;
}
h2{
    color: white;
    border: 5px solid green;
    outline: 10px outset blue;
}
div {
    color: navajowhite;
    padding: 10px 30px 10px 30px;
    border: 1px dashed deepskyblue;
    background-color: transparent;
    text-align: justify;
    text-decoration: underline;
    text-indent: 50px;
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 50px;
    direction: rtl;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bold;
    width: 70%;

}
body{
    background-image: url("image/black_hd_wallpaper_black_hd_wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
p.dotted{
    border-style: dotted;
    border-color: red;
    padding:10px;
    color: white;
    margin: auto;
    width: 50%;
}
p.dashed{
    border-style: dashed;
    border-color:red;
    padding:10px;
    color: white;
}
p.outset{
    border-style: outset;
    border-color: red;
    padding:10px;
    color: white;
}
p.double{
    border-style: double;
    border-color: #00bf00;
    padding:10px;
    color: white;
}
p.dotted{
    border-style: dotted;
    border-color: #00bf00;
    padding:10px;
    color: white;
}
p.groove{
    border-style: groove;
    border-color: #00bf00;
    padding:10px;
    border-width: 2px 3px 2px 3px;
    border-color: red black deepskyblue yellow;
    border-radius:40%;
    color: white;
}

ul{
    color: #00bf00;
    border: outset;
    padding: 20px;
    background-color: red;
    list-style: upper-roman;
}
ul li {
    border: groove;
    background-color: yellow;
    padding: inherit;
}
