
body{
    background-color: #e0e0dc;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 50%;
}
th,td{
    /border: 2px;
    padding: 20px;
    text-align: center;

}
tr:nth-child(even){
             background-color:gray;
         }
tr:nth-child(odd){
    background-color:lightcyan;

}
th{
    background-color: forestgreen;
    color:white;
    padding: 25px;
    text-align: center;
}
td:hover{
    background-color: greenyellow;
}
